/* zrt-cssregistry: */

@media all {

  .z-contenttypes-newscategory { 
    padding-top: 2em;
  }

  .z-contenttypes-newscategory a { 
    text-decoration: none;
  }

  .z-contenttypes-newsdate {
    text-align: right;
  }

  .z-contenttypes-eventDetails {
    float: right;
    width: 20em;
    clear: right;
    margin: 0 0 0.5em 1em;
  }

  .z-contenttypes-eventDetails table {
    border-collapse: collapse;
    border: borderWidth borderStyle globalBorderColor;
    font-size: fontSmallSize;
    margin: 1em 0em 1em 0em;
  }

  .z-contenttypes-eventDetails table th {
    background: globalBackgroundColor;
    border-right: borderWidth borderStyle globalBorderColor;
    border-bottom: borderWidth borderStyle globalBorderColor;
    font-weight: normal;
    padding: 0.25em 0.5em;
  }

  .z-contenttypes-eventDetails table td {
    padding: 0.25em 0.5em;
    border-right: borderWidth borderStyle globalBorderColor;
  }

}
